@model Discussion
@{

    var userLoggedIn = Context.Session.GetString("UserEmail");
}

<a href="/Discussions" class="btn btn-primary">Back to Discussions</a>
<article class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Topic</h5>
        <p class="card-text">@Model.Body</p>
        <p class="card-text">Id: @Model.Id</p>
        <p class="card-text">Created: @Model.Created</p>
        <p class="card-text">Updated: @Model.Updated</p>
        @if (userLoggedIn == Model.Author.Email)
        {
            <a asp-controller="Discussions" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-warning">Update</a>
            <a asp-controller="Discussions" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
        }
    </div>
</article>

<h5 class="card-title">Comments</h5>

@foreach (Comment comment in Model.Comments)
{
    <article class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@comment.Text</h5>
            <p class="card-text">By: @comment.Author.Email</p>
            @if (userLoggedIn == comment.Author.Email)
            {
                <a href="#" class="btn btn-danger">Delete</a>
            }
        </div>
    </article>
}